# Python packaging
*.egg-info/
.eggs/

# Bytecode
__pycache__/
*.py[cod]

# Virtualenv
.venv/
env/
venv/

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.just_cache/

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
